__pycache__/
Compliance/migrations/__pycache__/__init__.cpython-312.pyc
Compliance/migrations/__pycache__/0001_initial.cpython-312.pyc
Home/migrations/__pycache__/__init__.cpython-312.pyc
Home/migrations/__pycache__/0001_initial.cpython-312.pyc
Masters/migrations/__pycache__/__init__.cpython-312.pyc
Masters/migrations/__pycache__/0001_initial.cpython-312.pyc

*.pyc
Compliance/__pycache__/views.cpython-312.pyc
Compliance/__pycache__/views.cpython-312.pyc
PSN/__pycache__/settings.cpython-312.pyc
PSN/__pycache__/urls.cpython-312.pyc
PSN/settings.py
__pycache__/Db.cpython-312.pyc
__pycache__/Db.cpython-312.pyc
Abstract/__pycache__/__init__.cpython-312.pyc
Compliance/__pycache__/views.cpython-312.pyc
Compliance/migrations/__pycache__/__init__.cpython-312.pyc
Compliance/migrations/__pycache__/0001_initial.cpython-312.pyc
Home/migrations/__pycache__/__init__.cpython-312.pyc
Masters/migrations/__pycache__/__init__.cpython-312.pyc
Masters/migrations/__pycache__/0001_initial.cpython-312.pyc
PSN/__pycache__/urls.cpython-312.pyc
TaskList/__pycache__/encryption.cpython-312.pyc
TaskList/__pycache__/models.cpython-312.pyc
TaskList/__pycache__/views.cpython-312.pyc
