[hover-tooltip] {
    position: relative;
    cursor: default;
  }
  [hover-tooltip]:hover::before {
    content: attr(hover-tooltip);
    font-size: 14px;
    text-align: center;
    position: absolute;
    display: block;
    left: 50%;
    min-width: 150px;
    max-width: 200px;
    bottom: calc(100% + 10px);
    transform: translate(-50%);
    animation: fade-in 300ms ease;
    background: #272727;
    border-radius: 4px;
    padding: 10px;
    color: #ffffff;
    z-index: 1;
  }
  [hover-tooltip]:hover::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    width: 0;
    height: 0;
    bottom: calc(100% + 6px);
    margin-left: -3px;
    border: 1px solid black;
    border-color: #272727 transparent transparent transparent;
    border-width: 4px 6px 0;
    animation: fade-in 300ms ease;
    z-index: 1;
  }
  [hover-tooltip][tooltip-position=bottom]:hover::before {
    bottom: auto;
    top: calc(100% + 10px);
  }
  [hover-tooltip][tooltip-position=bottom]:hover::after {
    bottom: auto;
    top: calc(100% + 6px);
    border-color: transparent transparent #272727;
    border-width: 0 6px 4px;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* .container,
  .main-example {
    text-align: center;
    margin: 100px 0 0;
  }
  .container.container,
  .main-example.container {
    margin: 30px 0;
  }
  .container span,
  .main-example span {
    border: 1px solid gray;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
  }

  
  .explanation {
    margin: 70px 30px;
  }
  
  h2 {
    text-align: center;
  } */
  
  /* code {
    color: rgba(0, 0, 180, 0.9);
    background: rgba(0, 0, 180, 0.1);
    display: inline-block;
    border: 1px solid rgba(0, 0, 180, 0.9);
    border-radius: 3px;
    padding: 0 3px;
  } */