{% extends "Shared/Layout.html" %} {% block username %}{{username}}{% endblock %}
{% block content %}
{% load static %}
{% csrf_token %}

 <!-- Custom styles for this html-->
 <link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/uploadExcel.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/uploadModal.css' %}" rel="stylesheet" type="text/css" >
 <link rel="stylesheet" type="text/css" href="{% static 'css/tooltips.css' %}" />

 <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
 <!-- Include DataTables CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
 <!-- Include DataTables JS -->
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

 <!-- Begin Page Content -->

{% if type == 'i' %}

<!-- Roster Modal -->
<div class="modal fade" id="roster_model_id">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" style="color:black" >Roster Upload</h5>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form class="formupl" id="roster_upload_form" method="POST" enctype="multipart/form-data" action="{% url 'roster_upload' %}">
                 {% csrf_token %}
                 <input type="hidden" name="entity" value="{{ entity }}">
                 <input type="hidden" name="type" value="{{ type }}">
                 <div class="col-md-12 row">
                    <div class="col-md-6">
                      <label for="company_id" class="form-label">Company</label>
                      <select id="company_id" name="company_id" class="form-control" required>
                        <option value="" selected>Select</option>
                        {% for item in company_names %}
                        <option value="{{ item.0 }}">{{ item.1 }}</option>
                        {% endfor %}
                      </select>                    
                    </div>
                    <div class="col-md-6">
                      <label for="month_year" class="form-label">Month-Year</label>
                      <input type="month" value="" name="month_year" class="form-control" id="month_year"  required>
                    </div>
                </div>
                <hr>
                <span class="formupl-title">Upload your file</span>
                <p class="formupl-paragraph">
                    File should be an Excel
                  </p>
                 <label for="file-input" class="drop-container">
                <span class="drop-title">Drop files here</span>
                or
                <input type="file" id="file-input" name="roster_file" accept=".xlsx, .xls" required >
              </label>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" form="roster_upload_form">Upload</button>
          </div>
      </div>
  </div>
</div>

<!-- Roster Sample Download Modal -->
<div class="modal fade bd-example-modal-sm" id="roster_sample_xlsx_id" >
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document" >
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" style="color:black">Download Sample format</h5>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form class="" id="sample_xlsx_form" method="POST" enctype="multipart/form-data" 
                 action="{% url 'sample_xlsx' %}">
                 {% csrf_token %}
                 <input type="hidden" name="entity" value="{{ entity }}">
                 <input type="hidden" name="type" value="{{ type }}">
                 <div class="d-flex justify-content-center align-items-center">
                  <div class="col-md-10 row">
                    <label for="month_year" class="form-label">Month-Year</label>
                    <input type="month" value="" name="month" class="form-control" id="month" required>
                  </div>
                </div>
                
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" form="sample_xlsx_form" >Download</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="excel_upload">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color:black">
            {% if entity == 'sm' %} Site Upload
            {% elif entity == 'cm' %} Company Upload
            {% elif entity == 'em' %} Employee Upload
            {% endif %}
          </h5>
          <button type="button" class="close" data-dismiss="modal"> <span>&times;</span></button>
        </div>
        <div class="modal-body">
         
           <form  class="formupl" id="uploadForm" method="POST" enctype="multipart/form-data" 
                 action="{% url 'upload_excel' %}">
                {% csrf_token %}
                <input type="hidden" name="entity" value="{{ entity }}">
                <input type="hidden" name="type" value="{{ type }}">
                {% if entity == 'sm' %}
                <div class="d-flex justify-content-center align-items-center">
                  <div class="col-md-6 mb-3">
                    <label for="company_id" class="form-label">Company</label>
                    <select id="company_id" name="company_id" class="form-control" required>
                      <option value="" selected>Select</option>
                      {% for item in company_names %}
                      <option value="{{ item.0 }}">{{ item.1 }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <hr>
                {% endif %}
                <span class="formupl-title">Upload your file</span>
                <p class="formupl-paragraph">File should be an Excel</p>
                <label for="excelFile" class="drop-container">
                  <span class="drop-title">Drop files here</span>
                  or
                  <input type="file" id="excelFile" name="excelFile" accept=".xlsx, .xls" required>
                </label>
           </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="uploadForm">Upload</button>
        </div>
    </div>
  </div>
</div>



   <div class="row">
       <div class="col-lg-12">
           <!-- Index Card -->
           <div class="card mb-4"style="zoom:90%" >
               <div class="row">
                   <div class="{% if entity == 'r' %}col-md-7{% else %}col-md-5{% endif %}">
                       <h3> <strong style="color: #B12121;"> <u>{{name}}</u> </strong></h3>
                   </div>
                   {% if entity != 'user'%}
                   <div class="col-md-1">
                      <a href="{% if entity == 'r' %}#{% else %}/sample_xlsx?entity={{entity}}&type={{type}}{% endif %}" class="Btn1" hover-tooltip="Download Sample"  tooltip-position="top"
                      type="button" {% if entity == 'r' %} data-toggle="modal"  data-target="#roster_sample_xlsx_id" {% endif %}>
                        <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
                        <span class="icon2"></span>
                      </a>
                    </div>
                   <div class="col-sm-2">
                       <!-- Button trigger modal -->
                       <button class="buttonu" type="button" data-toggle="modal"  data-target="{% if entity == 'r' %}#roster_model_id{% else %}#excel_upload{% endif %}">
                           <span class="btn__icon">
                               <svg stroke-linejoin="round" stroke-linecap="round" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                                   <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
                                   <path d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1"></path>
                                   <path d="M9 15l3 -3l3 3"></path>
                                   <path d="M12 12l0 9"></path>
                               </svg>
                           </span>
                           <span class="btn__text">Upload</span>
                       </button>                  
                   </div>
                   {% endif %}
                   {% if entity == 'r'%}
                    <div class="col-sm-2">
                      <form method="GET" action="/masters">
                        <input type="hidden" name="entity" value="{{ entity }}">
                        <input type="hidden" name="type" value="err">
                        <button class="btn_err">
                         <div class="sign_err">
                           <svg viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 392c-17.67 0-32-14.33-32-32 0-17.67 14.33-32 32-32s32 14.33 32 32c0 17.67-14.33 32-32 32zm32-128c0 17.67-14.33 32-32 32s-32-14.33-32-32V176c0-17.67 14.33-32 32-32s32 14.33 32 32v96z"/></svg>
                         </div>
                         <div class="text_err">Error Logs</div>
                        </button> 
                      </form>
                    </div>
                  {% else %}   
                    <div class="col-sm-2">
                     <form method="GET" action="{% if entity == 'sm' %}/site_master{% elif entity == 'cm' %}/company_master{% elif entity == 'em' %}/employee_master{% elif entity == 'user' %}/register_new_user{% endif %}">
                       <input type="hidden" name="{% if entity == 'sm' %}site_id{% elif entity == 'cm' %}company_id{% elif entity == 'em' %}id{% elif entity == 'user' %}id{% endif %}" value="0">
                       <button type="submit" class="Btn"><div class="sign">+ </div> <div class="text">Create</div></button>
                     </form>
                    </div>
                      {% if entity != 'user'%}
                      <div class="col-sm-2">
                      <form method="GET" action="/masters">
                        <input type="hidden" name="entity" value="{{ entity }}">
                        <input type="hidden" name="type" value="err">
                        <button class="btn_err">
                          <div class="sign_err">
                            <svg viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 392c-17.67 0-32-14.33-32-32 0-17.67 14.33-32 32-32s32 14.33 32 32c0 17.67-14.33 32-32 32zm32-128c0 17.67-14.33 32-32 32s-32-14.33-32-32V176c0-17.67 14.33-32 32-32s32 14.33 32 32v96z"/></svg>
                          </div>
                          <div class="text_err">Error Logs</div>
                        </button> 
                      </form>
                      </div>
                      {% endif %}
                  {% endif %}     
                   {% if entity == 'sm' %}
                     <!-- <div class="col-lg-1" style="justify-content: right; align-items: right;">
                          <a onclick="showMessage()" href="#">
                              <span style="color:#B12121; font-size: 1.2rem; font-weight: bold;">Note *</span>
                          </a>
                      </div>-->
                   {% endif %}              
               </div>  
               <div class="card-body">
                <div class="table-responsive">
                  <table style="width: 100%;"  class="table"  id="dataTable">   
                       <thead>
                        <tr>
                          {% for col in header %}
                              {% if not forloop.first %}
                                  <th style="font-weight: bold; color: black; {% if col.1 != "" %} width: {{ col.1 }};{% endif %}">{{ col.0 }}</th>
                              {% endif %}
                          {% endfor %}
                      </tr>
                      <tr>
                          {% for col in header %}
                              {% if not forloop.first %}
                                  <th> </th>
                              {% endif %}
                          {% endfor %}
                      </tr>
                      
                       </thead>
                       <tbody>
                        {% for row in data %}
                            <tr style="color:black">
                                <td>{{ forloop.counter }}</td>
                                {% for cell in row %}
                                    {% if not forloop.first %}
                                        <td>
                                            {% if cell|length > 60 %}
                                                <!-- <textarea rows="4" readonly>{{ cell }}</textarea>  -->
                                                {{ cell }}
                                            {% else %}
                                                {{ cell }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                  <a href="{% if entity == 'sm' %}/site_master?site_id={{ row.0 }}
                                  {% elif entity == 'cm' %}/company_master?company_id={{ row.0 }}
                                   {% elif entity == 'em' %}/employee_master?id={{ row.0 }}
                                    {% elif entity == 'user' %}/register_new_user?id={{ row.0 }}
                                    {% elif entity == 'r' %}/masters?month={{ row.0 }}&entity={{entity}}&type=ed&empid={{row.1}}{% endif %}" class="edit-button">
                                    <svg class="edit-svgIcon" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                                    </svg>
                                  </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                   </table>
                </div>
               </div>
           </div>
       </div>
   </div>


{% elif type == 'cr' %}
  <div class="row">
    <div class="col-lg-12">
        <!-- Create Card -->
        <div class="card mb-4"style="zoom:90%" >
        </div>
    </div>
  </div>
{% elif type == 'ed' %}
  {% if entity == 'r' %}
    <!-- Edit Card -->
    <div class="card mb-4"style="zoom:90%" >
      <div class="card-body">
        <h2 class="text-center" style="color:#B12121;">
          <u> Edit Roster</u>
        </h2>
        <hr>
        <form method="POST" action="{% url 'masters' %}">      
          {% csrf_token %}
          <input type="hidden" name="entity" value="{{ entity }}">
          <input type="hidden" name="type" value="{{ type }}">
          <div class="row col-md-12">
            {% for row in header %}
              <div class="col-md-3">
                <label class="form-label">{{row.0}} :</label>
                <input type="text" value="{{row.1}}" class="form-control" readonly>
              </div>
            {% endfor %}
          </div>
          <br>
          <div class="row col-md-12">
              {% for row in data %}
                <div class="col-md-2">
                  <input type="hidden" name="ids[]" value="{{ row.0 }}">
                  <label class="form-label">{{row.1}} :</label>
                  <input type="text" value="{{row.2}}" name="shifts[]" class="form-control">
                </div>
              {% endfor %}
          </div>
          <hr>
          <div class="text-center">
            <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  {% endif %}
{% elif type == 'err' %}
     <!-- Error Logs -->
     <div class="card mb-4" style="zoom:85%" >
       <div class="card-body">
          <h1 style="color:#B12121;font-weight:bold">
           <u> Error Logs</u>
         </h2>
        
         <div class="table-responsive">
            <table style="width: 100%;"  class="table"  id="dataTable">   
               <thead>
                <tr>
                  {% for col in header %}
                          <th style="font-weight: bold; color: black; {% if col.1 != "" %} width: {{ col.1 }};{% endif %}">{{ col.0 }}</th>
                  {% endfor %}
              </tr>
              <tr>
                  {% for col in header %}
                          <th> </th>
                  {% endfor %}
              </tr>
               </thead>
               <tbody>
                {% for row in data %}
                    <tr style="color:black">
                        <td>{{ forloop.counter }}</td>
                        {% for cell in row %}
                          <td>
                            {% if 'Employee' in cell or 'Worksite' in cell or 'The employee with ID' in cell or 'The worksite' in cell or 'The company' in cell%}
                                <span class="badge badge-danger" style="font-size: 16px;">{{ cell }}</span>
                            {% elif 'Total' in cell %}
                                <span class="badge badge-dark" style="font-size: 16px;">{{ cell }}</span>
                            {% else %}
                                {{ cell }}
                            {% endif %}
                          </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
       </div>
     </div>


{% elif type == 'urm' %}
    <link href="{% static 'css/menuButton.css' %}" rel="stylesheet" type="text/css" >
    <!-- {{name}} -->
    <div class="card mb-4" style="zoom:90%" >
       <div class="card-body">
        <div class="row col-md-12">
          <div class="col-md-4">
            <h2 style="color:#B12121;font-weight:bold">
              <u>{{name}}</u>
            </h2>
          </div>
          <div class="col-md-2">
            <a href="/masters?entity={{entity}}&type=acu" class="menubutton">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
                  <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
              </svg>
              Assign to User
            </a>         
          </div>
          <div class="col-md-2">
            <a href="/masters?entity={{entity}}&type=acr" class="menubutton">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
                  <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
              </svg>
              Assign to Role
            </a>         
          </div>
        </div>
  
         <div class="table-responsive">
          <table style="width: 100%;"  class="table"  id="dataTable">   
            <thead>
             <tr>
               {% for col in header %}
                   {% if not forloop.first %}
                       <th style="font-weight: bold; color: black; {% if col.1 != "" %} width: {{ col.1 }};{% endif %}">{{ col.0 }}</th>
                   {% endif %}
               {% endfor %}
           </tr>
           <tr>
               {% for col in header %}
                   {% if not forloop.first %}
                       <th> </th>
                   {% endif %}
               {% endfor %}
           </tr>
           
            </thead>
            <tbody>
             {% for row in data %}
                 <tr style="color:black">
                     <td>{{ forloop.counter }}</td>
                     {% for cell in row %}
                         {% if not forloop.first %}
                             <td>
                                 {% if cell|length > 60 %}
                                     <!-- <textarea rows="4" readonly>{{ cell }}</textarea>  -->
                                     {{ cell }}
                                 {% else %}
                                     {{ cell }}
                                 {% endif %}
                             </td>
                         {% endif %}
                     {% endfor %}
                 </tr>
             {% endfor %}
         </tbody>
        </table>
       </div>
    </div>
{% elif type == 'acu' or type == 'acr' %}
 <!-- Selectize css -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <div class="container mt-5" style="max-width: 700px; ">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center" style="color:#B12121;font-weight:bold">Assign to {% if type == 'acu' %}User{% elif type == 'acr' %}Roles{% endif %}</h2>
                <form method="POST" action="{% url 'masters' %}">
                    {% csrf_token %}
                    <input type="hidden" name="entity" id="entity" value="{{ entity }}">
                    <input type="hidden" name="type" id= "type" value="{{type}}">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="ur" class="form-label">{% if type == 'acu' %}Users{% elif type == 'acr' %}Roles{% endif %} :</label>
                            <select name="ur" id="ur" class="form-control" required>
                                <option value="" selected disabled>Select</option>
                                {% for item in header %}
                                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                                {% endfor %} 
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="company_id" class="">Company :</label>
                            <select name="company_id" id="company_id" class=" " multiple required>
                                <option value="" disabled>Select</option>
                                {% for item in company_names %}
                                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-12">
                          <label for="worksite" class="">Worksite :</label>
                          <select name="worksite" id="worksite" class=" " multiple required>
                              <option value="" disabled>Select</option>
                              {% for item in data %}
                                  <option value="{{ item.0 }}">{{ item.1 }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                  
    
                    <div class="text-center">
                        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
{% endif %}
{% load static %}


{% if messages %}
  {% for message in messages %}
    <script>
    Swal.fire({
      title: "{{ message.tags }}",
      text: "{{ message }}",
      icon: "{{ message.tags }}",
      confirmButtonText: "OK",
    });
  </script>
  {% endfor %}
{% endif %}

  
<script type="text/javascript">
  document.getElementById("month").min = new Date().toISOString().slice(0, 7);
  document.getElementById("month_year").min = new Date().toISOString().slice(0, 7);
</script>
<script>
  $(document).ready(function() {
    
    $('#worksite').selectize({plugins:['remove_button'],delimiter:',',persist:false,create:false,selectOnTab:false,maxItems:null,
    onInitialize: function() {var control = this;control.clear();}});

    var company = $('#company_id').selectize({plugins:['remove_button'],delimiter:',',persist:false,create:false,selectOnTab:false,maxItems:null,
    onInitialize: function() {var control = this;control.clear();}});

    company.on('change', async function (value) {
        var worksite =  $('#worksite').selectize({plugins:['remove_button'],delimiter:',',persist:false,create:false,selectOnTab:false,maxItems:null,
        onInitialize: function() {var control = this;control.clear();}});
        worksite[0].selectize.setValue(['']);
        debugger;
        var company_id = $('#company_id').val();
        $.ajax({
          url: '/get_access_control',  
          type: 'POST', 
          datatype: "json",
          traditional: true,
          data: {'type': 'worksites','company_id':company_id,csrfmiddlewaretoken: '{{ csrf_token }}' },
          success: function(res) {
            debugger;
            worksite[0].selectize.setValue(['']);
            var ws = $('#worksite')[0].selectize;
            ws.clearOptions();
            res.worksite.forEach(function (item) {
              debugger;
              ws.addOption({value: item[0], text: item[1]});
            });
            //ws.refreshOptions();
          }
        });

    });

  });
</script>
<script>
  $('#ur').change(function() {
      var selectedValue = $(this).val(); 
      var type = $('#type').val();
      if (selectedValue) {
          $.ajax({
              url: '/get_access_control',  
              type: 'POST', 
              datatype: "json",
              traditional: true,
              data: {'ur': selectedValue,'type':type,csrfmiddlewaretoken: '{{ csrf_token }}' },
              success: function(response) {
                  var company = response.company;
                  var company_id = $('#company_id');
                  var company_inst = company_id[0].selectize;

                  var worksite = response.worksite;
                  var worksite_id = $('#worksite');
                  var worksite_inst = worksite_id[0].selectize;
                  
                  if (company_inst) {
                      company.forEach(function(item) {
                        company_inst.addOption({ value: item[0], text: item[1] });
                      });
  
                      var company_val = company.map(item => item[0]);
                      company_inst.setValue(company_val, true); 
                  } else {
                    company_id.selectize({valueField: 'value',labelField: 'text',
                          options: company.map(function(item) {
                              return { value: item[0], text: item[1] };
                          }),
                          items: company.map(item => item[0])  
                      });
                  }

                  if (worksite_inst) {
                    worksite.forEach(function(item) {
                      worksite_inst.addOption({ value: item[0], text: item[1] });
                    });

                    var worksite_val = worksite.map(item => item[0]);
                    worksite_inst.setValue(worksite_val, true); 
                  } else {
                    worksite_id.selectize({valueField: 'value',labelField: 'text',
                          options: worksite.map(function(item) {
                              return { value: item[0], text: item[1] };
                          }),
                          items: worksite.map(item => item[0])  
                      });
                  }
              }
          });
      }
  });
</script>

<script type="text/javascript">
    $(document).ready(function () {
      $("#dataTable").DataTable({
        //order: [[0, 'desc']],
        "ordering": false,
        initComplete: function () {
          this.api()
            .columns()
            .every(function () {
              var column = this;
              var select = $(
                '<select style="width:100%;border-radius: 10px;background-color:whitesmoke ;color: black;"><option value="">All</option></select>'
              )
                .appendTo($(column.header()).empty())
                .on("change", function () {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());
                  column.search(val ? "^" + val + "$" : "", true, false).draw();
                });
              column
                .data()
                .unique()
                .sort()
                .each(function (d, j) {
                  var ce = d;
                  if (
                    ce.includes("<a") ||
                    ce.includes("span") ||
                    ce.includes("<input") ||
                    ce.includes("select") ||
                    ce.includes("textarea")
                  ) {
                  } else {
                    select.append('<option value="' + d + '">' + d + "</option>");
                  }
                });
            });
        },
        pageLength: 10,
        lengthMenu: [
          [5, 10, 25, 50, 100, 200, 300, 400, 500, -1],
          [5, 10, 25, 50, 100, 200, 300, 400, 500, "All"],
        ],
      });
    });
  </script>

  <script>
    function submitForm() {
      var fileInput = document.getElementById('excelFile');
      
      if (fileInput.files.length === 0) {
        Swal.fire({
          title: 'No File Selected!',
          text: 'Please select a file to upload.',
          icon: 'warning',
          showConfirmButton: false,
          timer: 3000
        });
        return;
      }
  
      document.getElementById('uploadForm').submit();
    }
  </script>

<script>
    function showMessage() {
      Swal.fire({
        title: 'Note',
        html: '<strong style="color: red;">Please note before uploading Excel that Roster Type should be Daily, Weekly, Monthly, Quarterly,Half Yearly or Yearly!</strong>',
        icon: 'info',
        confirmButtonText: 'OK'
    });
    
    }

  </script>

<!-- End of Main Content -->
{% endblock %}

