{% extends "Shared/Layout.html" %} {% block username %}{{username}}{% endblock %}
{% block content %}
{% load static %}
{% comment %} {% csrf_token %} {% endcomment %}

 <!-- Custom styles for this html-->
 <link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/activebtn.css' %}" rel="stylesheet" type="text/css" >
 
 <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
 <!-- Include DataTables CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
 <!-- Include DataTables JS -->
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>


<body>
        <div class="container mt-5" style="max-width: 1500px;">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center" style="color:#B12121;"><u>Insert New Site Detail</u></h2>
                    <br>
                    <form method="POST" action="{% url 'InsertSiteMasterData' %}">
                        {% csrf_token %}
                        
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="company_name" class="form-label">Company Name<span style="color:red;"> *</span> :</label>
                                <select name="companyId" id="company_name" class="form-control">
                                    <option value="" selected>Select</option>
                                    {% for item in company_names %}
                                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="roster_type" class="form-label">Roster Type<span style="color:red;"> *</span></label>
                                <select name="rosterType" id="roster_type" class="form-control">
                                    <option value="" selected>Select</option>
                                    {% for item in roster_type %}
                                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="site_name" class="form-label">Site Name<span style="color:red;"> *</span></label>
                                <input type="text" name="siteName" class="form-control" id="site_name" placeholder="Enter Site Name">
                            </div>
                            <div class="col-md-3">
                                <label for="site_address" class="form-label">Site Address<span style="color:red;"> *</span></label>
                                <input type="text" name="siteAddress" class="form-control" id="site_address" placeholder="Enter Address">
                            </div>
                        </div>
    
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="contactPersonName" class="form-label">Name<span style="color:red;"> *</span></label>
                                <input type="text" name="contactPersonName" class="form-control" id="contactPersonName" placeholder="Enter Contact Person Name">
                            </div>
                            <div class="col-md-3">
                                <label for="contactPersonEmail" class="form-label">Email<span style="color:red;"> *</span></label>
                                <input type="email" name='contactPersonEmail' class="form-control" id="contactPersonEmail" placeholder="Enter Email">
                            </div>
                            <div class="col-md-3">
                                <label for="pincode" class="form-label">Pincode<span style="color:red;"> *</span> :</label>
                                <input type="text" name="pincode" class="form-control" id="pincode" placeholder="Enter Pincode">
                            </div>
                            <div class="col-md-3">
                                <label for="Number" class="form-label">Mobile Number<span style="color:red;"> *</span></label>
                                <input type="number" name="Number" class="form-control" id="Number" placeholder="Enter Mobile Number">
                            </div>
                        </div>
    
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="FieldDays" class="form-label">Days of Field<span style="color:red;"> *</span></label>
                                <input type="text" name="FieldDays" class="form-control" id="FieldDays" placeholder="Number of Days">
                            </div>
                            <div class="col-md-3">
                                <label for="notificationTime" class="form-label">Notification Time<span style="color:red;"> *</span></label>
                                <input type="time" name="notificationTime" class="form-control" id="notificationTime">
                            </div>
                            <div class="col-md-3">
                                <label for="ReminderTime" class="form-label">Reminder Time<span style="color:red;"> *</span></label>
                                <input type="time" name="ReminderTime" class="form-control" id="ReminderTime">
                            </div>
                            <div class="col-md-3">
                                <label for="activeBtn" class="form-label">Active Status<span style="color:red;"> *</span></label>
                                <br />
                                <div class="checkbox-wrapper-25">
                                    <input type="checkbox" id="checkboxActiveStatus"  value="{{ is_active }}" 
                                           {% if is_active == 1 %} checked {% endif %}>
                                </div>
                            </div>
                            <input type="hidden" id="hiddenActiveStatus" name="is_active" value="0">
                        </div>
    
                        <div class="text-center">
                            <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
    

 
<script>
    document.getElementById('checkboxActiveStatus').addEventListener('change', function() {
        document.getElementById('hiddenActiveStatus').value = this.checked ? '1' : '0';
    });
</script>
 
 {% endblock %} 