{% extends "Shared/Layout.html" %} {% block username %}{{username}}{% endblock %}
{% block content %}
{% load static %}
{% csrf_token %}


</style>
 <!-- Custom styles for this html-->
 <link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >
 <link rel="stylesheet" type="text/css" href="{% static 'css/tooltips.css' %}" />
 <link href="{% static 'css/menuButton.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/deletebtn.css' %}" rel="stylesheet" type="text/css" >

 <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
 <!-- Include DataTables CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
 <!-- Include DataTables JS -->
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


 <!-- Begin Page Content -->

   <div class="row">
       <div class="col-lg-12">
           <!-- Index Card -->
           <div class="card mb-12"style="zoom:90%" >
               <div class="row">
                   <div class="col-md-3">
                       <h3> <strong style="color: #B12121;"> <u>{{name}}</u> </strong></h3>
                   </div>
                </div>
                <div class="col-lg-12">
                    <div class="row justify-content-center">
                       <div class="col-md-2">
                            <a href="/menu_master?type=user&menu_id=0" class="menubutton">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
                                    <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
                                </svg>
                                Assign Menu to User
                            </a>
                        </div>
                        

                        <div class="col-md-2">
                            <a href="/menu_master?type=role&menu_id=0" class="menubutton">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
                                    <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
                                </svg>
                                Assign Menu to Role
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="/menu_master?type=create&menu_id=0" class="menubutton">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
                                    <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
                                </svg>
                                Create Menu
                            </a>
                        </div> 
                    </div>

                           
               </div>  
               <div class="card-body">
                <div class="table-responsive">
                  <table style="width: 100%;"  class="table"  id="dataTable">   
                       <thead>
                        <tr>
                          {% for col in header %}
                              {% if not forloop.first %}
                                  <th style="font-weight: bold; color: black; {% if col.1 != "" %} width: {{ col.1 }};{% endif %}">{{ col.0 }}</th>
                              {% endif %}
                          {% endfor %}
                      </tr>
                      <tr>
                          {% for col in header %}
                              {% if not forloop.first %}
                                  <th> </th>
                              {% endif %}
                          {% endfor %}
                      </tr>
                      
                       </thead>
                       <tbody>
                        {% for row in data %}
                            <tr style="color:black">
                                <td>{{ forloop.counter }}</td>
                                {% for cell in row %}
                                    {% if not forloop.first %}
                                        <td>
                                            {% if cell|length > 60 %}
                                                {{ cell }}
                                            {% else %}
                                                {{ cell }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td style="display: flex; gap: 10px;">
                                  <a href='/menu_master?type=create&menu_id={{ row.0 }}' class="edit-button">
                                    <svg class="edit-svgIcon" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                                    </svg>
                                  </a>
                                 <a href="#" class="trigger-btn" data-toggle="modal" data-id="{{ row.0 }}" onclick="delete_menu('{{ row.0 }}'); return false;">
                                    <button class="toggle-Btn">
                                        <div class="sign">
                                            <svg viewBox="0 0 16 16" class="bi bi-trash3-fill" fill="currentColor" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                            </svg>
                                        </div>
                                        <div class="text">Delete</div>
                                    </button>
                                  </a> 
                                
                                  <a href='/menu_order?type=order&menu_id={{ row.0}}'>
                                    <button class="toggle-Btn">
                                      <div class="sign">
                                          <i class="fa-sharp fa-solid fa-caret-down"></i>
                                      </div>
                                    <div class="text">Order</div>
                                  </button>
                                  </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                   </table>
                </div>
               </div>
           </div>
       </div>
   </div>


{% if messages %}
  {% for message in messages %}
    <script>
    Swal.fire({
      title: "{{ message.tags }}",
      text: "{{ message }}",
      icon: "{{ message.tags }}",
      confirmButtonText: "OK",
    });
  </script>
  {% endfor %}
{% endif %}

<script type="text/javascript">
  document.getElementById("month").min = new Date().toISOString().slice(0, 7);
  document.getElementById("month_year").min = new Date().toISOString().slice(0, 7);
</script>

<script type="text/javascript">
    $(document).ready(function () {
      $("#dataTable").DataTable({
        //order: [[0, 'desc']],
        "ordering": false,
        initComplete: function () {
          this.api()
            .columns()
            .every(function () {
              var column = this;
              var select = $(
                '<select style="width:100%;border-radius: 10px;background-color:whitesmoke ;color: black;"><option value="">All</option></select>'
              )
                .appendTo($(column.header()).empty())
                .on("change", function () {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());
                  column.search(val ? "^" + val + "$" : "", true, false).draw();
                });
              column
                .data()
                .unique()
                .sort()
                .each(function (d, j) {
                  var ce = d;
                  if (
                    ce.includes("<a") ||
                    ce.includes("span") ||
                    ce.includes("<input") ||
                    ce.includes("select") ||
                    ce.includes("textarea")
                  ) {
                  } else {
                    select.append('<option value="' + d + '">' + d + "</option>");
                  }
                });
            });
        },
        pageLength: 10,
        lengthMenu: [
          [5, 10, 25, 50, 100, 200, 300, 400, 500, -1],
          [5, 10, 25, 50, 100, 200, 300, 400, 500, "All"],
        ],
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        var menuId = button.data('id'); 
        var modal = $(this);
        modal.find('#menu_id_to_delete').val(menuId); 
      });
    });
  </script>

<script>

  function delete_menu(menu_id) {
    Swal.fire({
        title: 'Are you sure?',
        text: "This action cannot be undone!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: "{% url 'delete_menu' %}?type=delete",  // Ensure this URL is correct
                type: 'POST',
                data: {
                    'menu_id': menu_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                  if (response.success) {
                      Swal.fire(
                          'Deleted!',
                          response.message,
                          'success'
                      ).then(() => {
                          location.reload();  // Reload the page after successful deletion
                      });
                  } else {
                      Swal.fire('Error!', response.message, 'error');
                  }
              },
              error: function(xhr, status, error) {
                  Swal.fire('Error!', 'There was a problem with the request.', 'error');
              }
            });
        }
    });
}


</script>  

<!-- End of Main Content -->
{% endblock %}

