{% extends "Shared/Layout.html" %} {% block username %}{{username}}{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% csrf_token %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} PSN {% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/PSN.min.css' %}" rel="stylesheet">

</head>

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image">
                                <img src="{% static 'images/psn-logo (1).png' %}" width="400" height = "400" title="PSN" > 
                            </div>
                            <div class="col-lg-6">
                               
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Ready to Change Your Password?</h1>
                                    <p class="mb-4">Here you can change your password.. Please enter your current Password below.</p>

                                    </div>
                                    <form class="user" method="POST" action="reset_password" onsubmit="return validatePassword()">
                                        {% csrf_token %} 
                                        <div class="form-group position-relative">
                                            <input type="password" class="form-control form-control-user" 
                                                   id="CurrentPassword" name="password" 
                                                   placeholder="Enter Your Current Password" required 
                                                   onkeyup="change_password(this.value)">
                                            <span id="password-check" class="position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%); font-size: 18px;"></span>
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="InputPassword" name="password" placeholder="Enter Your New Password" required>
                                        </div>
                                    
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="RepeatPassword" name="repeatPassword" placeholder="Repeat Your New Password" required>
                                        </div>
                                        
                                        <div class="form-group">
                                            <button type="submit" id ="btnsubmit"class="btn btn-primary btn-user btn-block">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
    {% for message in messages %}
      <script>
      Swal.fire({
        title: "{{ message.tags }}",
        text: "{{ message }}",
        icon: "{{ message.tags }}",
        confirmButtonText: "OK",
      });
    </script>
    {% endfor %}
{% endif %}

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/PSN.min.js' %}"></script>


</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function validatePassword() {
        var currentPassword = document.getElementById("CurrentPassword").value;
        var newPassword = document.getElementById("InputPassword").value;
        var repeatPassword = document.getElementById("RepeatPassword").value;
        
        // Check if new password matches the repeated password
        if (newPassword !== repeatPassword) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Passwords do not match!',
            });
            return false;  // Prevent form submission
        }
        
        // Check if new password is the same as the current password
        if (currentPassword === newPassword) {
            Swal.fire({
                icon: 'error',
                title: 'Invalid Password',
                text: 'Your new password cannot be the same as your current password.',
            });
            return false;  // Prevent form submission
        }
        
        return true;  // Allow form submission
    }
    
    
</script>
<script>

    function change_password(password) {
        console.log("Password entered:", password);
    
        $.ajax({
            url: 'change_password',  // Replace with your actual URL
            type: 'POST',
            data: {
                password: password,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                
                if (response.status === "1") {
                    document.getElementById("password-check").innerHTML = "&#10004;";  
                    document.getElementById("password-check").style.color = "green";
                    document.getElementById("btnsubmit").disabled = false;   
                } 
                else if (response.status === "0") {
                    document.getElementById("password-check").innerHTML = "&#10008;";  
                    document.getElementById("password-check").style.color = "red";     
                    document.getElementById("btnsubmit").disabled = true; 
                } else {
                    alert(response.message);  // Show the error message if there's an error
                }
            },
            error: function(xhr, status, error) {
                // In case of error, show the cross mark
                document.getElementById("password-check").innerHTML = "&#10008;";
                document.getElementById("password-check").style.color = "red";
                console.log("Error:", error);
                document.getElementById("btnsubmit").disabled = true; 
            }
        });
    }
    
    
</script>


{% endblock %}
