{% extends "Shared/Layout.html" %} {% block username %}{{username}}{% endblock %}
{% block content %}
{% load static %}
 <!-- Begin Page Content -->
 <div>

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Welcome , {{ full_name }} !!</h1>
  </div>

  <div class="row">
      <div class="col-lg-12">
          <!-- Collapsable Card Example -->
          {% comment %} <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse"
                  role="button" aria-expanded="true" aria-controls="collapseCardExample2">
                  <h6 class="m-0 font-weight-bold text-primary">Card 1</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="collapseCardExample2">
                  <div class="card-body">
                      
                  </div>
              </div>
          </div> {% endcomment %}
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
          {% comment %} <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse"
                  role="button" aria-expanded="true" aria-controls="collapseCardExample1">
                  <h6 class="m-0 font-weight-bold text-primary"> Card 2</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="collapseCardExample1">
                  <div class="card-body">
                          
                  </div>
              </div>
          </div> {% endcomment %}
        </div>
  </div>
  

</div>

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

<!-- End of Main Content -->
{% endblock %}
