{% extends "Shared/Layout.html" %} {% block username %}{{username}}{% endblock %}
{% block content %}
{% load static %}
{% csrf_token %}
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5" style="width: 70%; margin: 0 auto;">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                   {% comment %} <div class="col-lg-2">
                   </div> {% endcomment %}
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" method="POST" action="/register_new_user" onsubmit="return validatePassword()">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName" name="firstname" placeholder="First Name" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName" name="lastname" placeholder="Last Name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="email" placeholder="Email Address" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="tel" class="form-control form-control-user" id="exampleMobileNumber" name="mobileNumber" placeholder="Mobile Number" required>
                                    </div>
                                {% comment %} <div class="form-group"> {% endcomment %}
                                    <div class="col-sm-6">
                                    <select style="border-radius:10em;height: calc(2.5em + .75rem + 2px);font-size: .8rem;" name="role_id" id="role_id" class="form-control">
                                        <option value="" selected>Select Role</option>
                                                {% for item in roles %}
                                                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                                                {% endfor %} 
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" id="exampleInputPassword" name="password" placeholder="Password" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" name="repeatPassword" placeholder="Repeat Password" required>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                {% comment %} <hr> {% endcomment %}
                                {% comment %} <button type="button" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </button>
                                <button type="button" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </button> {% endcomment %}
                            </form>
                            {% comment %} <hr> {% endcomment %}
                            {% comment %} <div class="text-center">
                                <a class="small" href="/forgot_password">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/">Already have an account? Login!</a>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    {% comment %} <div class="col-lg-2">
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>


{% if messages %}
    {% for message in messages %}
      <script>
      Swal.fire({
        title: "{{ message.tags }}",
        text: "{{ message }}",
        icon: "{{ message.tags }}",
        confirmButtonText: "OK",
      });
    </script>
    {% endfor %}
  {% endif %}


<script>
        function validatePassword() {
            var password = document.getElementById("exampleInputPassword").value;
            var repeatPassword = document.getElementById("exampleRepeatPassword").value;
    
            if (password !== repeatPassword) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Passwords do not match!',
                });
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        }
</script>
{% endblock %}